DB_URL=jdbc:postgresql://localhost:5432/openbake
MEMBER_DB_URL=jdbc:postgresql://localhost:5434/openbake_member
PAYMENT_DB_URL=jdbc:postgresql://localhost:5435/openbake_payment
AI_DB_URL=jdbc:postgresql://localhost:5436/openbake_ai
DB_USERNAME=openbake
DB_PASSWORD=openbake

REDIS_HOST=localhost
REDIS_PORT=6379

GATEWAY_JWT_ENABLED=true

MEMBER_SERVICE_URL=http://localhost:8081
PAYMENT_SERVICE_URL=http://localhost:8082
CORE_SERVICE_URL=http://localhost:8080
AI_SERVICE_URL=http://localhost:8083
AI_SERVICE_TOKEN=
CORE_SERVICE_TOKEN=
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
ELASTICSEARCH_URIS=http://localhost:9200
OPENAI_API_KEY=your_openai_api_key

JWT_SECRET=a79v1CvGk5ncURnpc1iJ1pTf1gvKUBy4scyoh3NcAEU=

GOOGLE_CLIENT_ID=339573275035-sc73apjmoto67cmvrn6usrqqtmm6d2aa.apps.googleusercontent.com

TOSS_SECRET_KEY=test_sk_yL0qZ4G1VOaXAMXYqeRn8oWb2MQY

SETTLEMENT_ENCRYPTION_KEY=YOUR_SETTLEMENT_ENCRYPTION_KEY_BASE64_256BIT

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

OPENAI_API_KEY=your_openai_api_key
AI_SERVICE_TOKEN=your_ai_service_token
CORE_SERVICE_TOKEN=your_core_service_token
