DB_URL=jdbc:postgresql://localhost:5432/openbake
MEMBER_DB_URL=jdbc:postgresql://localhost:5434/openbake_member
PAYMENT_DB_URL=jdbc:postgresql://localhost:5435/openbake_payment
DB_USERNAME=openbake
DB_PASSWORD=openbake

REDIS_HOST=localhost
REDIS_PORT=6379

GATEWAY_JWT_ENABLED=true

MEMBER_SERVICE_URL=http://localhost:8081
PAYMENT_SERVICE_URL=http://localhost:8082
CORE_SERVICE_URL=http://localhost:8080

JWT_SECRET=a79v1CvGk5ncURnpc1iJ1pTf1gvKUBy4scyoh3NcAEU=

GOOGLE_CLIENT_ID=339573275035-sc73apjmoto67cmvrn6usrqqtmm6d2aa.apps.googleusercontent.com

TOSS_SECRET_KEY=test_sk_yL0qZ4G1VOaXAMXYqeRn8oWb2MQY

SETTLEMENT_ENCRYPTION_KEY=YOUR_SETTLEMENT_ENCRYPTION_KEY_BASE64_256BIT