#OPENBAKE_CORE_TARGET=localhost:8080
OPENBAKE_CORE_TARGET=host.docker.internal:8080
#OPENBAKE_MEMBER_TARGET=localhost:8081
OPENBAKE_MEMBER_TARGET=host.docker.internal:8081
#OPENBAKE_PAYMENT_TARGET=localhost:8082
OPENBAKE_PAYMENT_TARGET=host.docker.internal:8082