global:
  scrape_interval: 1s
  evaluation_interval: 1s

scrape_configs:
  - job_name: "openbake-core"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets:
          - "${OPENBAKE_CORE_TARGET}"

  - job_name: "openbake-member"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets:
          - "${OPENBAKE_MEMBER_TARGET}"

  - job_name: "openbake-payment"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets:
          - "${OPENBAKE_PAYMENT_TARGET}"
