global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "openbake-monolith"
    metrics_path: "/actuator/prometheus"

    static_configs:
      - targets:
          - "${OPENBAKE_TARGET}"